.app {
  text-align: center;
  background-image: url(../media/ship.jpg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  margin-top: 1vh;
  width: 100%;
  height: 5vh;
  background-color: lightgrey;
  color: black;
  text-align: center;
  font-size: 3vh;
  font-family: "Comic Sans MS";
}

.action-button {
  width: 100%;
  height: 5vh;
  background-color: greenyellow;
  color: black;
  text-align: center;
  font-size: 3vh;
  font-family: "Comic Sans MS";
  margin: auto;
}

.footer {
  position: fixed;
  left: 10vw;
  bottom: 5vh;
  width: 80vw;
}

.footer-left {
  position: fixed;
  left: 10vw;
  width: 40vw;
}

.footer-right {
  position: fixed;
  left: 50vw;
  width: 40vw;
}

.disabled {
  background-color: lightgrey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  padding: 10px 10% 10% 10%;
}

h1 {
  padding: 2px 0;
  font-size: 2.5em;
  text-align: center;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 3px solid #eceeef;
  width: 50vw;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-bottom: 1px solid #eceeef;
}

.selected{
  background-color: greenyellow;
}

th {
  text-align: left;
}

.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #464a4c;
  background-color: #fff;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

