.box {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 2vh;
    font-family: "Comic Sans MS";
    width: 2.5vw;
    height: 5.0vh;
    padding-top: 1vh;
    padding-left: 1vw;
}

.bordered {
    border: 0.05vw solid black;
}

.admiral {
    background-color: red;
}

.kreuzer {
    background-color: blue;
}

.destroyer {
    background-color: green;
}

.boat {
    background-color: yellow;
}

.shot {
    opacity: 0.4;
}

.loaded {
    background-color: white;
}