.gameBoards {
    display: grid;
    grid-template-columns: auto auto;
    height: 450px;
    margin: auto;
}

.mine {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    background-color: white;
    width: 500px;
    margin: auto;
}

.other {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
    background-color: white;
    width: 500px;
    margin: auto;
}

.game-button {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    width: 50px;
    height: 45px;
}

.game-button-no-border {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
    width: 50px;
    height: 45px;
}